:root {
  --brand-color: #2196f3;
  --text-color1:#212121;;
  --text-color2: #757575;
  --background-color1: #2f303a;
  --background-color2:#E5E5E5;
  --background-color3: #F5F4FA;

}

body {
  
background-color: white
font-family: "roboto, sans-serif";
color: var(--text-color1)
 
  }

header {
color: black;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
}

.blue-color{
  color: var(--brand-color);
}

.logo {

color: white;
font-family: 'Raleway'
font-weight: 700;
font-size: 26px;
line-height: 1.2

}
.logo-header {

color: black
font-family: 'Raleway'
font-weight: 700;
font-size: 26px;
line-height: 1.2

}

.nav-link:hover {
color: var(--brand-color);
}

.contact-link:hover {
color: var(--brand-color)
}

.address-link{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: white;
}
.address-link:hover{
  color: var(--brand-color);
}

.contact-link-color {
 color: var(--text-color2);
}


a {
text-decoration: none;
color:black;
}

footer {
  background-color: var(--background-color1);
  color:white
  font-weight:400;
  font-size: 14px;
  line-height: 1.7;
}


button {
background-color: var(--background-color3);
color: var(--text-color1);
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height:1.6;
}

.order {
background: var(--brand-color);
color: var(--background-color3);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
}

.section-one {
background-color: var(--background-color1);
font-weight: 900;
font-size: 44px;
line-height: 1.36
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: white


}


.section-two h2{
font-weight: 700;
font-size: 14px;
line-height: 1.1;
color: var(--text-color1)}

.section-two p{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--text-color2)
}


.section-three h2{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: var(--text-color1);
}

.section-four h2{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: var(--text-color1);
}
.section-four h3{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
color: var(--text-color1);
}

.section-four p{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
color: var(--text-color2);
}
 
.section-portfolio h3{
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--text-color1);
}

.section-portfolio p{
font-weight: 400;
font-size: 16px;
line-height: 1.9;
color: var(--text-color2);
}
.element-style{
  list-style: none;
  
}

.contact-link-style{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
list-style: none;
color: #757575;
}